<template>
  <div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark" id="Bloco1Navbar">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
          <a class="navbar-brand align-items-start" href="#">
            <img src="@/assets/imagens/logo_brasao.png" width="250px" alt="">
          </a>
          <ul class="navbar-nav">
            <li class="nav-item mx-2"><a class="nav-link" href="#boletins">Boletins</a></li>
            <li class="nav-item mx-2"><a class="nav-link text-nowrap" href="#notas-orientativas">Notas Orientativas</a></li>
            <li class="nav-item mx-2"><a class="nav-link" href="#coe">COE</a></li>
            <li class="nav-item mx-2"><a class="nav-link" href="#noticias">Notícias</a></li>
            <li class="nav-item mx-2"><a class="nav-link" href="#videos">Vídeos</a></li>
            <li class="nav-item mx-2"><a class="nav-link" href="#prevencao">Prevenção</a></li>
          </ul>
          <a class="btn navbar-btn mx-2 text-white btn-outline-light" href="#transparencia">Transparência</a>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
// https://forum.vuejs.org/t/fixed-navbar-on-scroll-using-vuejs-bootstrap-4/93239
// https://github.com/TriDiamond/vuejs-scroll-fixed-header
// https://github.com/potato4d/vue-fixed-header#readme

export default {
  name: "Bloco1Navbar-v1",
}
</script>

<style scoped>

</style>