<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <title>Hotsite Covid19 em 2020 - Prefeitura de Toledo-PR</title>
      <meta name="description" content="Página para divulgação das ações do Covid19 no Municipio de Toledo-PR.">
      <meta name="keywords" content="Covid19 Telecorona Coronavirus novocovid ">
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
      <!--<link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">-->
      <!-- CSS dependencies -->
      <link rel="icon" href="https://www.toledo.pr.gov.br/sites/all/themes/toledo_zen/favicon.ico">
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23632305-7"></script>
      <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-23632305-7');</script>
      <!--<script src="//code.jivosite.com/widget/iEYJcjrmfi" async></script>-->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
